<div class="component-holder ng-binding ng-scope" data-component="crn-tabs" id="crn-tabs-887832">
  <div class="ctn-tab">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class=""><a data-target="#tab1" role="tab" data-toggle="tab">Pagina 1</a></li>
      <li role="presentation" class=""><a data-target="#tab2" role="tab" data-toggle="tab">Pagina 2</a></li>
      <li role="presentation" class=""><a data-target="#tab5732" role="tab" data-toggle="tab">Pagina 3</a></li>
      <li role="presentation" class=""><a data-target="#tab8685" role="tab" data-toggle="tab">Pagina 4</a></li>
      <li role="presentation" class=""><a data-target="#tab545" role="tab" data-toggle="tab">Pagina 5</a></li>
      <li role="presentation" class=""><a data-target="#tab9279" role="tab" data-toggle="tab">Pagina 6</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="tab1">
        <div data-container="true">
          <h1 class="lead text-center component-holder" xattr-position="text-center" data-component="crn-title" id="crn-title-106425">Teste de componentes</h1> 
          <center>
            <h1 style="color:red">Teste de Titulo simples</h1>
          </center>
        </div> 
        <center>
          <h2>Subtitulo Simples</h2>
        </center> 
      </div>
      <div role="tabpanel" class="tab-pane" id="tab2">
        <div data-container="true"></div>
        <div class="jumbotron component-holder" data-component="crn-jumbotron" id="crn-jumbotron-532692"> 
          <h1 data-component="crn-title" class="component-holder text-center" xattr-position="text-center"> Teste de Banner raid </h1> 
          <h2 data-component="crn-subtitle" class="component-holder text-center" xattr-position="text-center"> Subtitle </h2> 
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab5732">
        <div class="" data-container="true"></div>
        <div class="component-holder ng-binding ng-scope" data-component="crn-chart-bar" id="crn-chart-bar-357140">
          <canvas id="c_bar" class="chart chart-bar" chart-data="[[65, 59, 80, 81, 56, 55, 40],[28, 48, 40, 19, 86, 27, 90]]" chart-labels="['January', 'February', 'March', 'April', 'May', 'June', 'July']" chart-series="['Serie A','Serie B']"></canvas>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab8685">
        <div class="" data-container="true"></div>
        <div class="component-holder ng-binding ng-scope" data-component="crn-chart-line" id="crn-chart-line-842254">
          <canvas id="c_line" class="chart chart-line" chart-data="[[65, 59, 80, 81, 56, 55, 40],[28, 48, 40, 19, 86, 27, 90]]" chart-labels="['January', 'February', 'March', 'April', 'May', 'June', 'July']" chart-series="['Serie A','Serie B']"></canvas>
        </div>
        <div class="component-holder ng-binding ng-scope" data-component="crn-chart-radar" id="crn-chart-radar-1012894">
          <canvas id="c_radar" class="chart chart-radar" chart-data="[[65, 59, 90, 81, 56, 55, 40], [28, 48, 40, 19, 96, 27, 100]]" chart-labels="['Eating', 'Drinking', 'Sleeping', 'Designing', 'Coding', 'Cycling', 'Running']"></canvas>
        </div>
      </div>
      
      <div role="tabpanel" class="tab-pane active" id="tab545">
        <ul>
        <div class="component-holder ng-binding ng-scope" data-component="crn-datepicker" id="crn-datepicker-338952" style="width: 238px; height: 62px;">
          <div class="form-group">
            <label for="exampleInputDate">Campo de Data simples</label>
            <div style="position:relative">
              <input type="text" class="form-control" as-date="" format="DD/MM/YYYY" ng-model="">
            </div>
          </div>
        </div> <br>
        
        <div class="component-holder ng-binding ng-scope" data-component="crn-datetimepicker" id="crn-datetimepicker-663687" style="width: 239px; height: 62px;">
          <div class="form-group">
            <label for="exampleInputDate">Data e Hora</label>
            <div style="position:relative">
              <input type="text" class="form-control" as-date="" format="DD/MM/YYYY HH:mm:ss" ng-model="">
            </div>
          </div>
        </div>
        </ul>
        <hr>
        <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-962977" label="Campo simples">
          <div class="form-group">
            <label for="exampleInputEmail1">Campo simples</label>
          </div>
        </div>
        <input type="text" data-component="crn-input" id="textinput-id" placeholder="Campo de texto para teste" enabled="TRUE" class="" style="width: 608px; height: 111px;" ng-maxlength="30">
        <div class="row component-holder" data-component="crn-horizontal-container" id="crn-horizontal-container-984970"> 
          <div class="component-holder ng-binding ng-scope" data-component="crn-radiogroup" id="crn-radiogroup-758224">
            <div class="form-group" ng-model="">
              <div class="radio">
                <label class="" crn-value="" value="Value One"><input type="radio" name="optionsRadios" id="optionsRadios2"> <span class="">OPção um</span></label>
              </div>
              <div class="radio">
                <label class="" crn-value="{ 'complex' : 'Complex Object Sample' }"><input type="radio" name="optionsRadios" id="optionsRadios2"> <span class="" data-container="true">Opção Dois</span></label>
              </div>
            </div>
          </div>
          <div class="column col-xs-6" data-container="true" data-replace="true">
            Content goes here
          </div> 
          <div class="column col-xs-6" data-container="true" data-replace="true">
            Content goes here
          </div> 
        </div>
        <div class="" data-container="true"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab9279">
        <div class="" data-container="true"></div>
        <div class="component-holder ng-binding ng-scope" data-component="crn-carousel" id="crn-carousel-608102">
          <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
            <ol class="carousel-indicators">
              <li class="active"></li>
              <li class=""></li>
              <li class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img alt="First slide [900x500]" style="margin: 0 auto" data-src="holder.js/900x500/auto/#777:#555/text:First slide" src="views/Images/imagem01.jpg" data-holder-rendered="true">
              </div>
              <div class="item">
                <img alt="Second slide [900x500]" style="margin: 0 auto" data-src="holder.js/900x500/auto/#666:#444/text:Second slide" src="views/Images/imagem02.jpg" data-holder-rendered="true">
              </div>
              <div class="item">
                <img alt="Third slide [900x500]" style="margin: 0 auto" data-src="holder.js/900x500/auto/#555:#333/text:Third slide" src="views/Images/imagem03.jpg" data-holder-rendered="true">
              </div>
            </div>
            <a href="#carousel-example-generic" class="left carousel-control" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a href="#carousel-example-generic" class="right carousel-control" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h2 class="lead text-center component-holder" xattr-position="text-center" data-component="crn-subtitle" id="crn-subtitle-223633">Testando a funcionjhnjalidade dos componentes de tela</h2> 
<br> 
<center> 
</center> 
<br> 
<center> 
</center>
<div class="component-holder ng-binding ng-scope" data-component="crn-combobox-dynamic" id="crn-combobox-dynamic-377749">
  <div class="form-group">
    <label for="">Autores</label>
    <ui-select crn-datasource="User.active" ng-model="" ng-disabled="disabled" theme="bootstrap" class="crn-select">
      <ui-select-match placeholder="Select..." class="">
        {{$select.selected}}
      </ui-select-match>
      <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class="" refresh="" refresh-deplay="">
        <div class="">
          {{rowData.nome}}
        </div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<label style="display:block" xattr-fullsize="display:block;" data-component="crn-checkbox" class="component-holder" id="crn-checkbox-773383"><input type="checkbox" ng-model="" ng-true-value="true" ng-false-value="false" ng-value="true"> <span>Teste 01</span></label> 
<br> 
<label style="display:block" xattr-fullsize="display:block;" data-component="crn-checkbox" class="component-holder" id="crn-checkbox-773383"><input type="checkbox" ng-model="" ng-true-value="true" ng-false-value="false"> <span>Teste 02</span></label> 
<br> 
<label style="display:block display:inline" xattr-fullsize="display:inline" data-component="crn-checkbox" class="component-holder" id="crn-checkbox-773383"><input type="checkbox" ng-model="" ng-true-value="true" ng-false-value="false"> <span>Teste 03</span></label> 
<br> 
<input type="checkbox" name="vehicle" value="Bike">I have a bike
<br> 
<input type="checkbox" name="vehicle" value="Car">I have a car 
<br>
<br>
<div class="component-holder ng-binding ng-scope" data-component="crn-combobox" id="crn-combobox-410675">
  <div class="form-group">
    <label for="">Testadores</label>
    <ui-select crn-datasource="Testadores.active.nome" ng-model="" ng-disabled="disabled" theme="bootstrap" class="crn-select">
      <ui-select-match placeholder="Select..." class="">
        {{$select.selected.Digite o item a pesquisar}}
      </ui-select-match>
      <ui-select-choices repeat="rowData.key as rowData in datasource.data | filter: $select.search" class="">
        <div class="">
          {{rowData.Testadores}}
        </div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="component-holder ng-binding ng-scope" data-component="crn-tags" id="crn-tags-275554">
  <div class="form-group">
    <label for="">Testadores</label>
    <ui-select multiple="" crn-datasource="" ng-model="" theme="bootstrap" ng-disabled="disabled" class="crn-select">
      <ui-select-match placeholder="Select person..." class="">
        {{$item.Testadores}}
      </ui-select-match>
      <ui-select-choices repeat="rowData as rowData in datasource.data | filter : $select.search" class="">
        <div class="" data-container="true">
          {{rowData.Testadores.nome}}
        </div>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
<div class="modal fade" id="modal70689"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="component-holder modal-header"> 
        <div data-container="true">
          HEADER
        </div> 
      </div> 
      <div class="modal-body"> 
        <div data-container="true">
          BODY
        </div> 
      </div> 
      <div class="modal-footer"> 
        <div data-container="true">
          FOOTER
        </div> 
      </div> 
    </div> 
  </div> 
</div>